@layout('layout.app')

@section('content')
  @set('title', 'Trips')

  @each(trip in trips, include = 'trip.partials.trip-card')
  @else
    @component('components.alert', { color: 'info' })
      <p class="text-sm">There's trips available!</p>
    @endcomponent
  @endeach
@endsection
