@layout('layout.app')

@section('content')
  @set('title', 'Trips')

  <div class="flex flex-wrap">
    @each(trip in trips, include = 'trip.partials.trip-card')
  </div>
  @else
    @component('components.alert', { color: 'info' })
      <p class="text-sm">There's no trips available!</p>
    @endcomponent
  @endeach
@endsection
